.text_container {
    margin-bottom:20px;
}

.text_container__title {
    margin-bottom: 5px;
    font-size: 14px;
}

.text_container__value {
    font-size: 28px;
    margin: 0;
}

.text {
    color: grey;
}
