.title {
    flex-grow: 1;
    color: grey;
    text-transform: uppercase;
}

.circle_container {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin: 0 auto 20px;
    padding: 5px;
    background: white;
    overflow:hidden;
    border: 2px solid grey;
}

.circle_container__value {
    font-size: 22px;
    color: grey;
}

.circle_container__name {
    color: grey;
}

.ytd {
    display: inline-block;
    width: 50%;
    color: grey;
}

.pp_container {
    display: inline-block;
    width: 50%;
    color: grey;
}

.circle_text {
    margin: 5px;
    font-size: 12px;
}

.pp_container__value {
    color: green;
}

.pp_container__text {
    color: grey
}