.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.AppMobile {
  display: none;
}

@media only screen and (max-width: 720px) {

  .AppMobile {
    display: block;
  }

  .App {
    display: none
  }

}